[Unit]
Description=PiLogger Webmonitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/PiLogger-bottle.py

[Install]
WantedBy=multi-user.target
